#header {
  width: 100%;
  height: 111.4vh;
  display: flex;
}

#Rh {
  width: 60%;
  border: 1px solid black;
  height: 104vh;
}

#Lh {
  width: 40%;
  border: 1px solid black;
  height: 104vh;
}

#TopRh {
  border: 1px solid black;
  height: 48.6vh;
  font-size: 30px;
  padding: 50px;
}

#BottomRh {
  border: 1px solid black;
  height: 40vh;
}

#picture {
  width: 100%;
}
