#BlogBar {
  width: 85%;
  height: 90%;
  margin-left: 30px;
  display: block;
  color: black;
}

.Bbtn {
  width: 200px;
  height: 75px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 50px;
  margin-top: 50px;
  line-height: 80px;
  font-size: 25px;
  border: 1px solid grey;
  box-shadow: 3px 3px 5px grey;
  transition: text-shadow 0.3s, box-shadow 0.3s, opacity 0.5s, transform 0.5s;
  opacity: 0.2;
}

.Bbtn:hover {
  text-shadow: 1.5px 1.5px 1px grey;
  box-shadow: 5px 5px 5px grey;
  opacity: 1;
  transform: translateX(-50px);
}
