#SNSBar {
  width: 85%;
  height: 90%;
  margin-left: 50px;
  display: flex;
}

.SNSbtn {
  width: 200px;
  height: 75px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 85px;
  line-height: 80px;
  font-size: 25px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;
  transition: box-shadow 0.3s, opacity 0.5s, transform 0.5s;
  opacity: 0.2;
}

.SNSbtn:hover {
  box-shadow: 5px 5px 5px grey;
  opacity: 1;
  transform: translateX(-30px);
}

.icon {
  width: 40px;
  height: 40px;
  transform: translateY(12px);
  margin: 0px 10px 0px 15px;
}
