#MainContent {
  display: block;
  margin-top: 100px;
}

#borderbox {
  display: flex;
}

#text {
  position: relative;
}

#test,
#testBefore {
  width: 300px;
  height: 500px;
  margin: 50px 80px 0px 80px;
  font-size: 35px;
  text-align: center;
}

#testBefore {
  position: relative;
  border: 4px dashed black;
  /* background-color: cyan; */
}

#test {
  position: absolute;
  border: 4px solid black;
  top: 0px;
  background-color: white;
  transition: transform 0.5s;
}

#test:hover {
  transform: translate(-20px, -20px);
  border-color: cyan;
  color: cyan;
}

.stack {
  display: block;
  width: 150px;
  margin: 15px auto 15px auto;
}
