#MainContent {
  display: block;
  margin-top: 100px;
}

#borderbox {
  display: flex;
}

#contentBar {
  position: relative;
}

#divBar,
#divBarBefore {
  width: 300px;
  height: 500px;
  margin: 50px 80px 0px 80px;
  font-size: 35px;
  text-align: center;
}

#divBarBefore {
  position: relative;
  border: 4px dashed black;
}

#divBar {
  position: absolute;
  border: 4px solid black;
  top: 0px;
  background-color: white;
  transition: transform 0.5s;
}

#divBar:hover {
  transform: translate(-20px, -20px);
  border-color: cyan;
  color: cyan;
}

.stack {
  display: block;
  width: 150px;
  margin: 15px auto 15px auto;
}
